In [ ]:
1
=    * -> Multiplication operator

     'hello' -> String 
     
     -87.8 -> Negative Float Value
     
     -  -> Subtraction operator
     
     /  -> Division operator
     
     + -> Addition operator
     
     6  -> Integer Value

In [ ]:
2
= * String is a collection of character,integer,float and special symbol.
  * String is a Immutable Data.
  eg->
           str="KCH7" 
           
           In this "KCH7" is a string value
  
  * Variable is a address to data.
  * Content in a Variable can be modified.
  eg->
            str="KCH7"
            
            In this "str" is a variable

In [ ]:
3
=   *Numeric -> Numeric values are integer ,float or Complex number values.
            
        A=76765 -> Integer
        B=9.9898 -> Floating Value
        C=5+9i -> Complex Value

    *Sequence Type -> Sequence is a collection of similar or different data types.
                      There are different types of sequence values such as string ,list and tuple.
                      
                        List-> Lists are collection of different data types data.
                               Lists are mutable.
                               eg->
                                            list=[3,4,6,"str",768]
                            
                        Tuple-> Tuple are collection of different data types.
                                Tuple are immutable.
                                eg->
                                            tuple=(4,5,6,'str',9.6)
    
    
    *Dictionary -> Dictionary is a data type which stores data in Key-Value Pair Manner
                   Dictionary is mutable.
                   eg->
                                        dict={1:"KCH",2:"TS",3:"GHt"} 
                
                          In this 1,2,3 are the keys and KCH,TS,GHt are the values

In [ ]:
4

=Expression are made up of logical manner of operator and operand gives result to a variable
 In an expression,many type of mathematical operators can be used
    eg ->
           a = 5  
           b = 7
           c = 8
            
            d=a+b+c 
            
            In this a,b,c are operand  and "+" are addition operator which execute and stores result in d.

In [ ]:
5
= Expression is evaluated and it gives a value in return whereas in statement it evaluate and gives a action
  eg->Expresson
                  r=90
                  y=76
                  p=04
                  
                  h=r+y-p
                  
                  In this r is added with y and the result of those is subtracted with p means
                  
                                       90+76-4=162 h=162
  eg ->Statement  
                   a="Go for the next step" this indicate the user to do some action in some manner

In [ ]:
6
= bacon = 22
  bacon + 1   
              after executing this code it will give answer as 23 but while not assign this value to bacon means bacon will remain as 22

In [ ]:
7
= a='spam'+'spamspam'
        
             In this ,its concatinating two strings and gives the result to "a" a=spamspamspam
          
  b='spam'*3
             In this, its repeats string 'spam' three times and gives result to 'b' b=spamspamspam

In [ ]:
8
= Eggs a valid variable name while 100 is invalid because its the rule of python to declare a variable name with character or (int and character) but not only with integer.

In [ ]:
9 What three functions can be used to get the integer, floating-point number, or string
version of a value?
= Typecasting should be done to convert any value to integer,floating or string value
  eg ->   int to string
               a=9
               b=a.__str__()
          int to float 
           
               b=float(a)
                 
          string to int
               s="90"
               r=int(s)
               print(r)

In [ ]:
10.Why does this expression cause an error? How can you fix it?
 'i have eaten'+99+'burr'
= In python,a string can not be concatinated with integer it only concatinates wititos'h same data types but to fix this statement developer has to convert int to string to do so it has to use " "